body {
    background-color: beige;
}

h1 {
    color: cornflowerblue;
    transition: color .5s ease-in-out;
}

/* dot for class */
.clicked {
    color: tomato;
}

.inactive {
    color: greenyellow;
}

